body{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 90vh;
    overscroll-behavior: none;
}

html{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(23, 23, 23);
}

.game-con{
    max-width: 450px;
}

.grid-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.block-click{
    pointer-events: none;
}

.grid-con > div{
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 2px;
    font-size: 4rem;
    display: grid;
    align-items: center;
    justify-content: center;
}

.grid-con > div:hover{
    border-color: rgb(165, 165, 165);
}

button{
    justify-self: center;
    margin-top: 10px;
    max-width: 200px;
    padding: 20px 20px 20px 20px;
    border-style: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.813);
    color: white;
}

button:active{
    background-color: rgba(0, 0, 0, 0.662);
}

h2{
    margin-top: 20px;
    justify-self: center;
    color: rgba(0, 0, 0, 0.721);
}